:root {
  --bg-color: #fff;
  --bg-second: #ccc;
  --font-color: #ff0000;
  --font-size: 25px
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  font-size: var(--font-size);
}

h1 {
  color: var(--font-color, #00f); /*creating a failsafe variable*/
}

.container {
  /*--verde: #0f0; it's possible to create variables inside elements, but they're only usable inside that same element, unlike creating :root */
  background-color: var(--bg-second);
  /*color: var(--verde);8*/
  color: var(--font-color);
}

@media (max-width: 450px) {
    :root {
        --font-size: 15px;
    }
}