@keyframes example {
  0% {
    background-color: red;
    top: 0;
    left: 0;
  }
  25% {
    background-color: rgb(124, 124, 61);
    top: 0;
    left: 200px;
    width: 400px;
    height: 200px;
    line-height: 200px;
    transform: rotate(90deg);
  }
  50% {
    background-color: blue;
    top: 200px;
    left: 200px;
    width: 400px;
    height: 400px;
    line-height: 400px;
    transform: rotate(180deg);
  }
  75% {
    background-color: green;
    top: 200px;
    left: 0;
    width: 200px;
    height: 400px;
    line-height: 400px;
    transform: rotate(90deg);
  }
  100% {
    background-color: red;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform: rotate(0deg);
  }
}

body {
  margin: 0;
}

.example {
  width: 200px;
  height: 200px;
  line-height: 200px;
  background-color: red;
  position: absolute;
  margin: 50px;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.link {
  font-family: Arial, Helvetica, sans-serif;
  color: beige;
  transition: all 0.5s;
  text-align: center;
}

.link:hover {
  color: cadetblue;
  font-size: large;
  font-weight: bold;
  text-decoration: wavy;
}
